---
import WebLayout from '../../layouts/partials/WebLayout.astro';
import H1 from '../../components/partials/H1.astro';
import Text from '../../components/partials/Text.astro';
import Title from '../../components/partials/Title.astro';
import Link from '../../components/partials/Link.astro';
import List from '../../components/partials/List.astro';
import ListItem from '../../components/partials/ListItem.astro';

const allPosts = Object.values(import.meta.glob('./**/*.md', { eager: true }));

const posts = allPosts.filter((post: any) => {
    const dateFormat = /^\d{4}-\d{2}-\d{2}$/;
    const date = new Date(post.frontmatter.date.toString().slice(0,10));
    if (!post.frontmatter?.date) return false;
    if (!dateFormat.test(post.frontmatter.date.toString().slice(0,10))) return false;
    if (isNaN(date.getTime())) return false;
    return true;
}).sort((a: any, b: any) => {
    return new Date(b.frontmatter.date).getTime() - new Date(a.frontmatter.date).getTime();
}).reduce((acc: any, post: any) => {
    const year = new Date(post.frontmatter.date.toString().slice(0,10)).getFullYear();
    if (!acc[year]) acc[year] = [];
    acc[year].push(post);
    return acc;
}, {});

const tags = Array.from(new Set(allPosts.flatMap((post: any) => post.frontmatter?.tags || [])));
---

<WebLayout title="Blog" page="Blog">
<section class="space-y-2 max-w-4xl">
	<H1>Blog</H1>
	<Text>Latest articles and updates.</Text>
	<div class="space-y-4 mt-8">
		{Object.entries(posts)
			.sort((a, b) => parseInt(b[0]) - parseInt(a[0]))
			.map(([year, postsByYear]: [string, any[]]) => (
				<div key={year} class="space-y-2">
					<Title>{year}</Title>
					<List>
						{postsByYear.map((post: any) => (
							<ListItem key={post.url}>
								<Link href={post.url}>{post.frontmatter.title}</Link>
							</ListItem>
						))}
					</List>
				</div>
			))}
	</div>
	<div class="mt-8">
		{tags && tags.length > 0 && (
			<div class="flex flex-wrap gap-2">
				{tags.map((tag: string) => (
					<Link href={`/blog/tags/${tag.toLowerCase()}`} class="underline">{tag.charAt(0).toUpperCase() + tag.slice(1)}</Link>
				))}
			</div>
		)}
	</div>
</section>
</WebLayout>